# Make sure we don't accidentally commit rimworld assemblies
Assemblies/
!Assemblies/RimProfiler.dll
!Assemblies/0Harmony.dll

Source/packages/
Source/bin/
Source/obj/
Source/.vs/

*.pdb
*.csproj
*.sln
